---
extends: default

ignore: |
  templates/
  charts/

rules:
  line-length:
    max: 140
    level: warning
  document-start: disable
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  indentation:
    spaces: 2
    indent-sequences: consistent
  truthy:
    check-keys: false
